<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :company_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :company_comment, class: 'form-control' %>
  </div>

  <div class="checkbox">
    <%= form.label :active do %>
      <%= form.check_box :active, id: :company_active %>
      Active
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit :Submit, class: 'btn btn-primary' %>
  </div>
<% end %>
