<div class="row" id="notice">
  <%= notice %>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>Companies</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= line_chart companies_per_week_path, xtitle: 'Week', ytitle: 'Count', title: 'Companies created per week' %>
  </div>

  <div class="col-md-6">
    <%= line_chart cumulative_companies_path, xtitle: 'Week', ytitle: 'Total', title: 'Total companies created' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Comment</th>
          <th>Active</th>
          <th>Created on</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each_with_index do |company, i| %>
          <tr>
            <td><%= @companies.offset + i+1 %>
            <td>
              <%= link_to company do %>
                <%= company.name %>
              <% end %>
            </td>
            <td><%= company.comment %></td>
            <td><i class="glyphicon <%= company.active ? 'glyphicon-ok' : 'glyphicon-remove' %>"></i></td>
            <td><%= company.created_at.to_date %></td>
            <td>
              <%= link_to edit_company_path(company) do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <%= link_to company, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @companies %>

    <br>

    <%= link_to 'New Company', new_company_path, class: 'btn btn-default' %>
  </div>
</div>
