<h3>Company: <%= @company.name %></h3>

<p>
  <strong>Comment:</strong>
  <%= @company.comment %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active ? 'Yes' : 'No' %>
</p>

<%= link_to 'Back', companies_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
